.test {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 20px;
}

.active {
    background-color: blue important!;
}

#container{
    display: flex;
}

.secDiv {
    height: 50px;
    width: 50px;
    background-color: green;
    justify-content: center;
}

.minDiv {
    height: 50px;
    width: 50px;
    background-color: green;
    justify-content: center;
}