#red {
    color: red,
    backgroundColor: black
}

#blue {
    color: blue,
    backgroundColor: black
}

#yellow {
    color: yellow,
    backgroundColor: black
}

#white {
    color: white,
    backgroundColor: black
}